<mat-toolbar>

  <h4>{{title}}</h4>

  <span class="fill-remaining-space"></span>

  <mat-button-toggle-group #group="matButtonToggleGroup">
    <mat-button-toggle (click)="listView()" aria-label="List view" value="list">
      <mat-icon>menu</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle (click)="cardView()" aria-label="Small cards" value="cards">
      <mat-icon>view_module</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle (click)="editorView()" aria-label="Detail view" value="detail">
      <mat-icon>crop_3_2</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle (click)="combiView()" aria-label="Detail view" value="combi">
      <mat-icon>vertical_split</mat-icon>
    </mat-button-toggle>

  </mat-button-toggle-group>

  <entity-relative-navigation
    [dataSource]="dataSource"
    [paginator]="paginator"
    [selectedEntity]="selectedEntity"
    style="position: fixed; background-color: white;">
  </entity-relative-navigation>


  <mat-paginator
    [hidePageSize]="true"
    [length]="dataSource.totalSubject | async"
    [pageSize]="pageSize">
  </mat-paginator>

</mat-toolbar>

<div class="multiview-columns" style="display: flex;">

  <div class="multiview-column-right" style="flex: 2;">


    <ng-template entity-component-entrypoint entrypoint-id="entity-list"></ng-template>

    <person-list-card
      *ngIf="listVisible"
      [@fadeInOut]
      [columns]="meta.displayedColumns"
      [dataSource]="dataSource"
      [filterVisible]="false"
      [isManaged]="true"
      [selectedEntity]="selectedEntity"
      [title]="'Managed people list'">
    </person-list-card>

    <ng-template entity-component-entrypoint entrypoint-id="entity-list-cards"></ng-template>

    <person-list-of-cards
      *ngIf="cardsVisible"
      [@fadeInOut]
      [dataSource]="dataSource">
    </person-list-of-cards>

  </div>

  <div class="multiview-column-left" style="flex: 1; padding-right: 48px;">
    <div style="position: fixed;">

      <ng-template entity-component-entrypoint entrypoint-id="entity-detail"></ng-template>

      <person-detail
        *ngIf="detailVisible"
        [entity]="selectedEntity | async">
      </person-detail>

      <ng-template entity-component-entrypoint entrypoint-id="entity-editor"></ng-template>

      <person-editor-card
        *ngIf="editorVisible"
        [@fadeInOut]
        [entitySubject]="selectedEntity"
        [isManaged]="true">
      </person-editor-card>

    </div>
  </div>

</div>

