# Mac
.DS_Store

# git
# .gitignore

# Maven
target/

# IntelliJ
.idea/
*.iml


# Node built projects
package-lock.json
node/


# Custom
environments/dev/poc/poc-web-gui/app/
environments/dev/poc/poc-web-gui/app-dojo/
/poc-web-gui-angular/poc-angular/src/app/lib/auth-lib/
/poc-web-gui-angular/poc-angular/src/app/lib/entity-lib/
