.root {

}

header {
    height: 36px;
    padding-top: 18px;

    /*position: fixed;*/
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 4px 3px rgba(0,0,0,.3);
    /*transform: translateY(-100px);*/
    animation: move-down .2s forwards;

    border-bottom: 1px solid silver;
}
