.personEditor {
  width: 720px;
  margin-bottom: 48px;
  margin-top: 12px;
  margin-left: 48px;
  border: 1px solid silver;

  text-align: left;
}

.personEditor fieldset,
.personEditor label {
  display: inline-block;
  text-align: left;
  width: 100%;
}

.personEditor fieldset text {
  display: inline-block;
}

.personEditor label {
  margin-right: 10px;
}

.personEditor .field {
}

.personButton {
  padding: 5px 20px;
}


.editorToolbar {

}
