<div class="entity-view">
  <h3>${typeViewConfig.entityType.labelPlural}</h3>

  <div class="panel entity-panel">
    <div class="panel-body">
      <div class="toolbar nav navbar-nav">
        <div data-dojo-attach-point="entityGridToolbarNode" class="toolbar-top"></div>
      </div>
      <div data-dojo-attach-point="entityGridNode" class="grid"></div>
    </div>
  </div>

  <div class="panel entity-panel form-panel">
    <div class="panel-body">
      <div data-dojo-attach-point="entityFormNode" class="form"></div>
      <div class="toolbar nav navbar-nav">
        <div data-dojo-attach-point="entityFormToolbarNode" class="toolbar-bottom"></div>
      </div>
    </div>
  </div>
</div>
