<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <display-name>Visitors ${project.version}</display-name>
    <description>Visitors web application</description>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>



    <!-- Active Directory Authentication -->
<!--
    <security-constraint>
        <display-name>your web app display name</display-name>
        <web-resource-collection>
            <web-resource-name>Protected Area</web-resource-name>
            <url-pattern>*.jsp</url-pattern>
            <url-pattern>*.html</url-pattern>
            <url-pattern>*.xml</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>*</role-name>
        </auth-constraint>
    </security-constraint>

    <login-config>
        <auth-method>DIGEST</auth-method>
        <realm-name>ABZ Netwerk</realm-name>
    </login-config>
-->

    <security-role>
        <description>All roles</description>
        <role-name>*</role-name>
    </security-role>

</web-app>
