<mat-toolbar>

  <h4>{{title}}</h4>

  <span class="fill-remaining-space"></span>

  <mat-button-toggle-group #group="matButtonToggleGroup">
    <mat-button-toggle value="list" aria-label="List view" (click)="listView()">
      <mat-icon>menu</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle value="cards" aria-label="Small cards" (click)="cardView()">
      <mat-icon>view_module</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle value="detail" aria-label="Detail view" (click)="editorView()">
      <mat-icon>crop_3_2</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle value="combi" aria-label="Detail view" (click)="combiView()">
      <mat-icon>vertical_split</mat-icon>
    </mat-button-toggle>

  </mat-button-toggle-group>

  <entity-relative-navigation style="position: fixed; background-color: white;"
    [dataSource]="dataSource"
    [selectedEntity]="selectedEntity"
    [paginator]="paginator">
  </entity-relative-navigation>


  <mat-paginator
    [length]="dataSource.totalSubject | async"
    [pageSize]="pageSize"
    [hidePageSize]="true">
  </mat-paginator>

</mat-toolbar>

<div class="multiview-columns" style="display: flex;">

  <div class="multiview-column-right" style="flex: 2;">


    <ng-template entity-component-entrypoint entrypoint-id="entity-list"></ng-template>

    <person-list-card
      [selectedEntity]="selectedEntity"
      [dataSource]="dataSource"
      [columns]="meta.displayedColumns"
      [filterVisible]="false"
      [isManaged]="true"
      [title]="'Managed people list'"
      *ngIf="listVisible"
      [@fadeInOut]>
    </person-list-card>

    <ng-template entity-component-entrypoint entrypoint-id="entity-list-cards"></ng-template>

    <person-list-of-cards
      [dataSource]="dataSource"
      *ngIf="cardsVisible"
      [@fadeInOut]>
    </person-list-of-cards>

  </div>

  <div class="multiview-column-left" style="flex: 1; padding-right: 48px;">
    <div style="position: fixed;">

      <ng-template entity-component-entrypoint entrypoint-id="entity-detail"></ng-template>

      <person-detail
        [entity]="selectedEntity | async"
        *ngIf="detailVisible">
      </person-detail>

      <ng-template entity-component-entrypoint entrypoint-id="entity-editor"></ng-template>

      <person-editor-card
        [entitySubject]="selectedEntity"
        [isManaged]="true"
        *ngIf="editorVisible"
        [@fadeInOut]>
      </person-editor-card>

    </div>
  </div>

</div>

