<h1>{{title}}</h1>

<mat-toolbar>

  <button (click)="toggleList()" mat-button>{{(listVisible) ? 'Hide' : 'Show'}} List</button>
  <button (click)="toggleEditor()" mat-button>{{(editorVisible) ? 'Hide' : 'Show'}} Editor</button>

  <button (click)="toggleListOfCards()" mat-button>{{(listOfCardsVisible) ? 'Hide' : 'Show'}} List of Cards</button>
  <button (click)="toggleDemoForm()" mat-button>{{(demoFormVisible) ? 'Hide' : 'Show'}} Custom controls</button>

  <button (click)="openDialogWithList()" mat-button>List in dialog</button>
  <button (click)="openDialogWithEditor()" mat-button>Editor in dialog</button>

</mat-toolbar>


<person-editor-card
  [entityToLoad]="selectedEntity"
  [isManaged]="true"
  *ngIf="editorVisible"
  [@fadeInOut]
  (@fadeInOut.start)="onAnimationEvent($event)"
  (@fadeInOut.done)="onAnimationEvent($event)">
</person-editor-card>


<person-list-card
  (selectedEntity)="onEntitySelected($event)"
  [columns]="meta.displayedColumns"
  [filterVisible]="false"
  [isManaged]="true"
  [title]="'Managed people list'"
  *ngIf="listVisible"
  [@fadeInOut]>
</person-list-card>


<person-list-of-cards
  *ngIf="listOfCardsVisible"
  [@fadeInOut]>
</person-list-of-cards>


<mat-card class="form-card" *ngIf="demoFormVisible">
  <mat-card-header>
    <mat-card-title>Custom form controls</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="entityForm">

      <h4>Entity Selector</h4>
      <div class="form-row">

        <mat-form-field>
          <mat-label>Employee</mat-label>
          <entity-selector
            formControlName="entitySelector"
            [meta]="meta"
            [service]="service"
            [autoActiveFirstOption]=true
            required>
          </entity-selector>
          <mat-hint>Choose an employee</mat-hint>
          <mat-error>This field cannot be empty!</mat-error>
        </mat-form-field>

      </div>

      <div class="form-row">
        Selected: {{entityForm.value | json}}
      </div>
    </form>

  </mat-card-content>
</mat-card>
