<mat-card class="list-of-cards-card">

  <mat-card-actions>
    <mat-paginator
      [hidePageSize]="true"
      [length]="dataSource.awaitTotal() | async"
      [pageSize]="pageSize"
      class="list-of-cards-paginator">
    </mat-paginator>
  </mat-card-actions>


  <mat-card-content>

    <div class="list-of-cards" fxFill fxLayout="column" fxLayoutAlign="space-between">
      <div fxLayout="row wrap" class="row-of-cards">
        <ng-container *ngFor="let person of dataSource.awaitEntities() | async">
          <person-editor-card
            [entityToLoad]="person"
            [isManaged]="true"
            *ngIf="!(dataSource.loading$ | async)"
            [@slideInOut]>
          </person-editor-card>
        </ng-container>
      </div>
    </div>

  </mat-card-content>


</mat-card>





