<mat-card class="list-of-cards-card">

  <mat-card-actions>
    <mat-paginator
      [length]="dataSource.awaitTotal() | async"
      [pageSize]="pageSize"
      [hidePageSize]="true"
      class="list-of-cards-paginator">
    </mat-paginator>
  </mat-card-actions>


  <mat-card-content>

    <div fxFill fxLayout="column" fxLayoutAlign="space-between" class="list-of-cards">
      <div fxLayout="row wrap">
        <ng-container *ngFor="let person of dataSource.awaitEntities() | async">
          <person-editor-card
            [isManaged]="true"
            [entityToLoad]="person">
          </person-editor-card>
        </ng-container>
      </div>
    </div>

  </mat-card-content>


</mat-card>





