<h1>{{title}}</h1>

<mat-toolbar>

  <button (click)="toggleList()" mat-button>{{(listVisible) ? 'Hide' : 'Show'}} List</button>
  <button (click)="toggleEditor()" mat-button>{{(editorVisible) ? 'Hide' : 'Show'}} Editor</button>

  <button (click)="toggleListOfCards()" mat-button>{{(listOfCardsVisible) ? 'Hide' : 'Show'}} List of Cards</button>


  <button (click)="openDialogWithList()" mat-button>List in dialog</button>
  <button (click)="openDialogWithEditor()" mat-button>Editor in dialog</button>

</mat-toolbar>

<person-editor-card
  *ngIf="editorVisible"
  [isManaged]="true"
  [entityToLoad]="selectedEntity">
</person-editor-card>

<person-list-card
  *ngIf="listVisible"
  [isManaged]="true"
  (entitySelector)="onEntitySelected($event)"
  [columns]="columns"
  [title]="'Managed people list'"
  [filterVisible]="false"
>
</person-list-card>


<person-list-of-cards
  *ngIf="listOfCardsVisible">

</person-list-of-cards>
