@import url('../lib/entity-module/table-row-editor/editor-row.component.css');

/* Styles for the person-list-component */

[component-style='entity-list'] .mat-column-id,
[component-style='entity-list'] .editor-cell.mat-column-id {
  width: 72px;
  flex: 1;
  justify-content: flex-end;
  padding-right: 24px;
  user-select: none;
}

[component-style='entity-list'] .editor-cell.mat-column-id .editor-type-switch {
  margin-right: -24px;
}

mat-cell.mat-column-id {
  color: silver;
}

[component-style='entity-list'] .editor-cell.mat-column-id input {
  text-align: right;
  padding-right: 24px;
  box-sizing: border-box;
}

[component-style='entity-list'] .editor-cell.mat-column-id input .mat-form-field-flex {
  margin-right: -24px;
}

[component-style='entity-list'] .mat-column-firstName,
[component-style='entity-list'] .editor-cell.mat-column-firstName {
  flex: 3;
}

[component-style='entity-list'] .mat-column-prefix,
[component-style='entity-list'] .editor-cell.mat-column-prefix {
  flex: 2;
}

[component-style='entity-list'] .mat-column-gender,
[component-style='entity-list'] .editor-cell.mat-column-gender {
  flex: 2;
}

[component-style='entity-list'] .mat-column-birthDate,
[component-style='entity-list'] .editor-cell.mat-column-birthDate {
  flex: 3;
}


