<h1>{{meta.displayName}} grid</h1>

<p>Grid based upon @pebula/ngrid material starter</p>

<pbl-ngrid (cellClick)="$event.context && $event.context.startEdit()" [columns]="columns"
           [dataSource]="dataSource"
           blockUi
           cellTooltip
           class="pbl-ngrid-cell-ellipsis pbl-ngrid-header-cell-ellipsis"
           columnReorder
           focusMode="cell"
           id="unique-people-id-for-grid"
           matCheckboxSelection="selection"
           matHeaderContextMenu="excelMenu"
           matSort
           persistState
           rowReorder
           style="height: 500px"
           vScrollFixed
>
</pbl-ngrid>
