#entity-grid-toolbar {

}




/*** dgrid styling **/


/*
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
*/
* {
  font-family: 'Montserrat', sans-serif;
}

.content {
  margin: 24px;
}

.dgrid-no-data {
  padding: 12px;
  margin: 36px;
}


.panel {
  border: 1px solid silver;
}

.grid-panel .dgrid {
  border: 0 !important;
}


.form-panel .form-component {
  margin-bottom: 3px;
}

.form-panel .form-component label {
  display: inline-block;
  width: 120px;
}

.form-panel .form-component .control {
  display: inline-block;
}


.form-dialog {
  width: 360px;
  height: 240px;"
}


.form-group {
  padding: 0;
  margin-bottom: 3px;
}

.form-group label {
  display: inline-block;
  width: 40%;
  color: gray;
}

.form-group .dijitTextBox {
  display: inline-block;
  width: 59%;
}

form .toolbar {
  text-align: right;
}


.dijitDialogSingleChild {
  height: 100%;
}


.dgrid-loading .dgrid-below{
  margin: 24px;
}


.grid-toolbar {
  text-align: right;
}


.form {
  margin-top: 6px;
}


.form-group-sm input {
  border: none;
}

.toolbar {
  float: none;
  padding: 6px 0;
}

.toolbar .btn,
.toolbar .btn-group {
  margin: 0 3px;
}

.toolbar .btn-group .btn {
  margin: 0;
}

.form-panel {
  width: 600px;
}

.toolbar .btn-group {
  display: inline-block;
}


.form-control input {
  width: 100%;
  height: 100%;
}


/* dijit resets */

.dijitToggleButtonIconChar,
.dijitOffScreen {
  display: none;
}




/**
Spinner
Source:
***/
.spinner {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;

  -webkit-animation: sk-rotate 2.0s infinite linear;
  animation: sk-rotate 2.0s infinite linear;
}

.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #333;
  border-radius: 100%;

  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
}

/*****/
