@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import url('app/lib/entity-module/table-row-editor/editor-row.component.css');


/*
* You can add global styles to this file, and also import other style files
*/
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}


/*
 * Sidenav with sticky footer
 * Source: https://www.thecodecampus.de/blog/material-2-sticky-footer-mat-sidenav/
 */

mat-sidenav-container {
  /* same height as browser window height */
  min-height: 100vh;
}

mat-sidenav-content {
  display: flex !important;
  flex-direction: column;
  min-height: 100vh;
}

header,
footer {
  flex: 0 1 auto;
}



/* Make the component injected by <router-outlet> full height: */
main {
  display: flex;
  flex-direction: column;
  /* child will set to an equal size inside the container */
  flex: 1;
}

main > *:not(router-outlet) {
  flex: 1;
  display: block;
}


/* Header with toolbar */

header mat-toolbar {
  z-index: 1000;
  width: 100% !important;
}

header .mat-toolbar-row, header .mat-toolbar-single-row {
  height: 45px;
}


/* Footer */

footer {
  display: flex;
  flex-direction: row;

  color: darkgray;
  padding: 9px 18px;
}

footer .right {
  text-align: right;
}


/* General */

.nav-link {
  cursor: pointer;
}

.fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.mat-typography h1 {
  margin-top: 9px;
  margin-left: 15px;
  margin-right: 15px;
}

.content {
  column-count: 2;
  column-gap: 30px;
  column-rule: 1px solid silver;
  margin: 0 15px 30px 15px;
}

.mat-menu-panel {
  min-width: 90px;
  max-width: 180px;
}


/*
Editor Forms
TODO: Move to entity-editor.component.css
*/

.form-card {
  position: fixed;
  max-width: 600px;
  top: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.form-row {
  display: flex;
  margin-bottom: 15px;
}


/*
List Table and Editor rows
TODO: Move to entity-list.component.css
*/

.mat-cell, .mat-footer-cell, .editor-cell,
input.mat-input-element, .mat-radio-label-content {
  font-size: 15px;
}

.mat-cell, .mat-footer-cell {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Set to 180px somewhere for some reason */
mat-card-content .mat-form-field-infix,
.editor-field-container .mat-form-field-infix {
  width: auto;
}

mat-row {
  cursor: pointer;
  text-overflow: ellipsis;
}

mat-footer-row, mat-row {
  min-height: 30px !important;
}

tr.mat-footer-row {
  width: 100%;
}

mat-footer-cell {
  text-align: right;
}


.no-label-space .mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-prefix .mat-icon-button,
.no-label-space .mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-suffix .mat-icon-button {
  width: 1.6em;
  height: 1.6em;
}

.no-bottom-space .mat-form-field-wrapper {

padding-bottom: 0;
}

.no-bottom-space  .mat-form-field-underline {
  bottom: 0;
}

/* lower height */
.no-bottom-space {
height: 30px;
}
.no-bottom-space .mat-form-field-appearance-fill .mat-form-field-infix {
  padding: 0 0 0 0;
  border-top: 0.5em;
}



/* List of cards
TODO: Move to entity-list-of-cards.component.css
*/

.list-of-cards {
  background-color: #fafafa;
  min-height: 300px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-top: 1px rgba(0, 0, 0, .12);
  border-bottom: 1px rgba(0, 0, 0, .12);
}


.list-of-cards mat-card {
  display: inline-block;
  min-width: 240px;
  min-height: 90px;
  margin: 6px;
}

.list-of-cards-paginator .mat-paginator-range-label {
  display: none;
}


/*
Related entity control
TODO: Move to entity-relation.component.css
*/

.related-entities-control {
  width: 360px;
}

.related-entities-control mat-form-field {
  display: block;
}

.related-entity-header {
  display: flex;
  line-height: 1.125;
  background-color: rgba(0, 0, 0, .04);
  padding: 0 0.75em 0 0.75em;
  align-items: center;
}

.related-entity-header h4 {
  margin-bottom: 0;
  line-height: 1.12;
}

.related-entity {
  border-bottom: 1px solid #efefef;
  height: 30px;
  padding: 0 0.75em 0 0.75em;
  align-items: center;
}

.related-entity a {
  text-decoration: none;
  font-size: 15px;
  color: rgba(0, 0, 0, .87);
  line-height: 30px;
  display: block;
}


/* Not for production */

.buttons-vertical button {
  display: block;
  margin-bottom: 6px;
}
