@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import 'app/people/person-list.component.css';

/*
* You can add global styles to this file, and also import other style files
*/
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}


/*
 * Sidenav with sticky footer
 * Source: https://www.thecodecampus.de/blog/material-2-sticky-footer-mat-sidenav/
 */

mat-sidenav-container {
  /* same height as browser window height */
  min-height: 100vh;
}

mat-sidenav-content {
  display: flex !important;
  flex-direction: column;
  min-height: 100vh;
}

header,
footer {
  flex: 0 1 auto;
}


/* Make the component injected by <router-outlet> full height: */
main {
  display: flex;
  flex-direction: column;
  /* child will set to an equal size inside the container */
  flex: 1;
}

main > *:not(router-outlet) {
  flex: 1;
  display: block;
}


/* Page header with toolbar */
header {
  z-index: 1000;
}

header mat-toolbar {
  width: 100% !important;
}

header .mat-toolbar-row, header .mat-toolbar-single-row {
  height: 45px;
}


/* Sticky page footer */

footer {
  display: flex;
  flex-direction: row;

  color: darkgray;
  padding: 36px 18px 18px 18px;
}

footer .right {
  text-align: right;
}


/* General */

.nav-link {
  cursor: pointer;
}

.fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.mat-typography h1 {
  margin-top: 9px;
  margin-left: 15px;
  margin-right: 15px;
}

.content {
  column-count: 2;
  column-gap: 30px;
  column-rule: 1px solid silver;
  margin: 0 15px 30px 15px;
}


/* Detail */

.entity-detail-card .mat-card-header-text,
.form-card .mat-card-header-text {
  margin: 0;
}


/*
Editor Forms
TODO: Move to entity-editor.component.css
*/

.form-card {
  position: fixed;
  max-width: 600px;
  top: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.form-row {
  display: flex;
  margin-bottom: 15px;
}

.main-form .mat-form-field .mat-form-field-suffix .mat-icon-button {
  height: 2.4em !important;
}

.editor-type-none .mat-form-field-underline .mat-form-field-ripple {
  display: none;
}


/*
List Table and Editor rows
*/


.entity-list {
  width: 100%;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

mat-row {
  cursor: pointer;
}

mat-table mat-row:hover,
mat-table mat-row:focus {
  background: rgba(0, 0, 0, .04);
}

.entity-list .progress {
  opacity: 0;
}

.entity-list .progress.progress-visible {
  opacity: 1;
}

.mat-cell,
.mat-header-cell,
.mat-footer-cell,
.editor-cell,
.filter-cell {
  flex: 3;
}

.mat-footer-cell {
  justify-content: flex-end;
}

.mat-cell,
.mat-footer-cell,
.editor-cell,
.filter-cell,
input.mat-input-element {
  font-size: 15px;
}

.mat-cell, .mat-footer-cell {
}

.mat-cell .mat-cell-content {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: 1px;
  padding-right: 12px;
  user-select: none;
}

mat-cell.related-entity-link {
  text-decoration: underline;
}

mat-row.selected {
  border-bottom-color: rgba(0, 0, 0, .30);
}

mat-footer-row, mat-row {
  min-height: 30px !important;
}

.mat-footer-row {
  width: 100%;
}

mat-footer-cell {
  text-align: right;
}

.form-card .mat-form-field-infix {
  width: auto;
}


mat-cell.mat-column-id {
  color: silver;
}

[component-style='entity-list'] .mat-column-id,
[component-style='entity-list'] .editor-cell.mat-column-id {
  width: 72px;
  max-width: 72px;
  user-select: none;
}

[component-style='entity-list'] mat-cell.mat-column-id .mat-cell-content,
[component-style='entity-list'] .editor-cell.mat-column-id input {
  box-sizing: border-box;
  text-align: right;
  padding-right: 24px;
}

[component-style='entity-list'] .editor-cell.mat-column-id .editor-type-switch {
  /*margin-right: -24px;*/
}

[component-style='entity-list'] .editor-cell.mat-column-id input .mat-form-field-flex {
  /*margin-right: -24px;*/
}

[component-style='entity-list'] mat-header-cell.column-type-date,
[component-style='entity-list'] mat-cell.column-type-date,
[component-style='entity-list'] .editor-cell.column-type-date {
  width: 120px;
  flex: none;
}


/* Editor moved to a specific row */

.editor-moved {
  background-color: white;
  position: absolute;
  width: 100%;
  z-index: 50;
  transform: translateY(0);
  max-width: 960px; /* Keep in sync with .entity-list max-width */
}


/* Editor inline */

.editor-inline .mat-form-field-infix {
  border-top: 0;
}

.editor-inline .mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-prefix .mat-icon-button,
.editor-inline .mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-suffix .mat-icon-button {
  width: 1.6em;
  height: 1.6em;
}

.editor-row.editor-inline,
.editor-moved,
.editor-row {
  min-height: 30px !important;
}

.editor-inline .mat-form-field-wrapper {
  padding-bottom: 0;
}

.editor-inline .mat-form-field-appearance-fill .mat-form-field-flex {
  padding: 0;
}

.editor-inline .mat-form-field-appearance-fill .mat-form-field-infix {
  padding: .5em 0 .5em 0;
}

.editor-inline .mat-form-field-label-wrapper {
  display: none;
}

.editor-inline .mat-form-field-underline {
  bottom: 0;
}

.editor-inline .mat-form-field-subscript-wrapper {
  display: none;
}


.hidden {
  display: none !important;
}


/*
Related entity control
TODO: Move to entity-relation.component.css
*/

.relation {
}

.relation mat-toolbar.mat-toolbar-single-row {
  height: 48px !important;
  border-bottom: 1px solid rgba(0, 0, 0, .12);
}

.relation .mat-toolbar h4 {
  font-size: 16px;
}

.form-row .relation {
  width: 100%;
}

.relation editor-row {
  width: calc(100% - 32px);
  margin-right: 16px;
}


/* Entity Component in dialog */

.entity-dialog-actions {
  justify-content: flex-end;
}

mat-dialog-content editor-row.editor-moved {
  width: 552px; /* TODO: better solution for this style e.g. auto */
}


/* List of cards
TODO: Move to entity-list-of-cards.component.css
*/

.list-of-cards {
  background-color: #fafafa;
  min-height: 300px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-top: 1px rgba(0, 0, 0, .12);
  border-bottom: 1px rgba(0, 0, 0, .12);
}

.list-of-cards mat-card {
  display: inline-block;
  min-width: 240px;
  min-height: 90px;
  margin: 6px;
}

.list-of-cards-paginator .mat-paginator-range-label {
  display: none;
}


.row-of-cards {
  justify-items: center;
}


/* Entity Selector */

entity-selector .mat-input-element,
entity-selector-list .mat-input-element {
  width: calc(100% - 30px);
  overflow: hidden;
  text-overflow: ellipsis;
}

entity-selector .mat-icon-button,
entity-selector-list .mat-icon-button {
  margin-top: -12px;
  margin-bottom: -4px;
  width: 1.6em;
  height: 1.6em;
  line-height: 1em;
  font-size: 15px;
}

.mat-form-field entity-selector,
.mat-form-field-list entity-selector {
  line-height: 1em;
}

entity-selector .mat-icon-button .mat-icon,
entity-selector-list .mat-icon-button .mat-icon {
  line-height: 1em;
}

entity-selector .material-icons,
entity-selector-list .material-icons {
  font-size: 15px;
}

entity-selector .mat-input-element,
entity-selector .mat-icon-button,
entity-selector-list .mat-input-element,
entity-selector-list .mat-icon-button {
  display: inline-block;
}

.mat-autocomplete-panel mat-table mat-row:hover,
.mat-autocomplete-panel mat-table mat-row:focus {
  background: rgba(0, 0, 0, .04);
}

/* Editor fields */

editor-field mat-form-field {
  width: 100%;
}
