<mat-card class="list-card">

  <mat-card-actions align="end">

    <button (click)="deleteEntities()" mat-button>
      <span>Delete {{meta.namePlural}}</span>
    </button>

    <button (click)="updateEntities()" mat-button>
      <span>Update {{meta.namePlural}}</span>
    </button>

<!--    <button mat-button routerLink="/{{meta.namePlural}}/new" routerLinkActive="active">-->
    <button (click)="newEntity()" mat-button>
    <span>New {{meta.name}}</span>
    </button>
  </mat-card-actions>

  <mat-card-content>

    <!-- Search box -->
    <mat-form-field>
      <input #filter matInput placeholder="Search {{meta.displayNamePlural.toLowerCase()}}">
    </mat-form-field>


    <div *ngIf="dataSource.loading$ | async" class="spinner-container">
      <mat-spinner [diameter]="30"></mat-spinner>
    </div>


    <mat-table [dataSource]="dataSource" matSort matSortActive="name"
               matSortDirection="asc" class="mat-elevation-z4" matSortDisableClear>

      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
        <mat-cell *matCellDef="let entity">{{entity.id}}</mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
        <mat-cell *matCellDef="let entity">{{entity.name}}</mat-cell>
      </ng-container>


      <mat-header-row *matHeaderRowDef="meta.displayedColumns"></mat-header-row>
      <mat-row (click)="selectEntity(row)" *matRowDef="let row; columns: meta.displayedColumns;"></mat-row>

    </mat-table>


    <mat-paginator [length]="dataSource.getTotal()" [pageSize]="meta.defaultPageSize"></mat-paginator>

  </mat-card-content>
</mat-card>
