<mat-card class="form-card">
  <mat-card-header>

    <mat-card-title>{{meta.displayName}} Editor</mat-card-title>
  </mat-card-header>
  <mat-card-content>

    <form [formGroup]="entityForm">

      <!-- ID-->
      <div>
        <mat-form-field>
          <mat-label>ID</mat-label>
          <input formControlName="id" matInput name="id" readonly>
        </mat-form-field>
      </div>

      <!-- Name -->
      <div>
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" name="name">
        </mat-form-field>
      </div>

    </form>


    <div class="related-entity-control">
      <h4>Employees</h4>
      <button mat-button
              [routerLink]="['/organizations/', 'employees', 'new']"
              [queryParams]="{'employer.id': getIdFromPath()}"
              [routerLinkActive]="'active'"
      >
        <span>Add employee</span>
      </button>

      <ng-container *ngFor="let employee of employeesSubject.asObservable() | async">
        <div class="related-entity">
          <a [routerLink]="['/people/', employee.person.id]">
            {{employee.person.firstName + ' ' + employee.person.lastName}}
          </a>
        </div>
      </ng-container>
    </div>


  </mat-card-content>

  <mat-card-actions align="end">
    <button (click)="goToList()" *ngIf="!isManaged" mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>

    <span class="fill-remaining-space"></span>

    <button (click)="deleteEntity()" [disabled]="isNew()" mat-icon-button>
      <mat-icon>delete_outline</mat-icon>
    </button>
    <button (click)="revert()" [disabled]="!entityForm.dirty" mat-icon-button>
      <mat-icon>keyboard_return</mat-icon>
    </button>
    <button (click)="saveEntity()" [disabled]="!entityForm.dirty || entityForm.invalid" color="primary" mat-icon-button>
      <mat-icon>done</mat-icon>
    </button>
  </mat-card-actions>

</mat-card>
