/*
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
*/
.grid {
  font-family: 'Montserrat', sans-serif;
}

.dgrid-no-data {
  padding: 12px;
  margin: 36px;
}

/*
background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
*/
