<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

    <bean id="restApp" class="poc.rest.Application" lazy-init="false"></bean>

    <bean id="personService" class="poc.core.service.impl.PersonServiceImpl" lazy-init="true"></bean>

</beans>
