<h1>{{pageTitle}}</h1>

<div class="content">
  <p>This Proof of Concept application is a showcase for multiple technologies.
    The variety you are looking at now consists of a SPA frontend built in Angular that talks to a Spring Boot REST API
    backend, protected by an OpenID Connect provider, in this case Keycloak.</p>

  <h3>Experimentele features</h3>

  <ul>
    <li><a href="people-manager">People Manager</a></li>
    <li><a href="people-n-grid">People N-Grid</a></li>


    <li><a routerLink="organizations-manager" routerLinkActive="active">Organizations Manager</a></li>
    <li><a routerLink="organizations-list-of-cards" routerLinkActive="active">Organization list of cards</a></li>
    <li><a routerLink="organizations-n-grid" routerLinkActive="active">Organizations N-Grid</a></li>


  </ul>
</div>





